<h1>Genres</h1>

<%= button_to 'New Genre', new_genre_path, method: 'get' %>

<div>
  <% @genres.each do |genre| %>
      <%= genre.name %>

      <% if can? :read, Genre %>
          <%= link_to 'Show', genre %>
      <% end %>

      <% if can? [:destroy], Genre %>
          <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

  <% end %>
</div>
<br>

