<% if can? :update, Genre %>
    <%= button_to 'Edit', edit_genre_path(@genre), method: 'get' %>
<% end %>
<%= button_to 'Back to Genres', genres_path, method: 'get' %>

<% @tracks.each do |track| %>
    <h4><%= track.music.original_filename.chomp('.mp3') %></h4>
    <%=audio_tag track.music, controls: true, class: "audio-play"%>
<% end %>


